/*****************topbar******************/
$t_border:1px solid #E5E5E5;
#topbar{
    // overflow:hidden;
    font-size:12px;
    background:#F6F6F6;
    height:30px;
    border-bottom:$t_border;
    border-top:$t_border;
    a{color:#555;}
    .sign{
        vertical-align: bottom;
        display:inline-block;
        a:nth-child(2){color:#FF5B57;}
    }
    .menu{
        vertical-align: bottom;
        display:inline-block;
        >li{
            float:left;border-left:$t_border;
            position:relative;
            &:hover ul{display:block;}
            &:hover .top_la{background:white;border:1px solid #ccc;}
            &:hover .top_menu2{border:1px solid #ccc;border-top:none;}
            >a{
                padding:3px 22px 5px 10px;
                >i{
                  position:absolute;
                  right:7px;
                  top:7px;
                  width: 10px;
                  height: 10px;
                  background:url(../img/sprit.png) no-repeat 0 0;
                }
            }
            ul{
                position:absolute;left:0px;top:16px;background:white;width: 80px;
                display:none;z-index:1000;
                li{
                    &:hover a{background:#F6F6F6;}
                    a{display:block;padding:8px 8px;}
                    
                }
            } 
        }
    }
    .supply{
        padding-top:3px;
        display:inline-block;
        a{vertical-align: middle;font-size:13px;}
        }  
}

/******************header*************/
#header{
    .container{
        height: 100px;
        h1{height:70px;width:240px;background:url('../img/logo.png');text-indent:-1000px;margin-top:10px;}
        .search{
            position:relative;
            margin-top:20px;
            form{
            a{display:inline-block;background:#F8F8F8;width:60px;height:35px;text-align:center;line-height:35px;border:2px solid #F15C18;position:absolute;left:37px;border-right:1px solid #CECECE;font-size:14px}
            input{border:2px solid  #F15C18;height: 35px;width:300px;position:absolute;left:100px;border-left:none;padding-left:3px;}
            button{background:#F15C18;color:white;text-align:center;height: 39px;width: 64px;position:absolute;left:402px;font-weight:bold;}
        }
            .keyword{
                    position:absolute;left:30px;top:35px;line-height: 20px;
                    white-space: nowrap;width: 100%;height: 20px;margin-top: 5px;
                ul{
                    font-size: 0;
                    vertical-align: top;
                    display: inline-block;
                    li {
                        font-size: 12px;
                        vertical-align: top;
                        letter-spacing: normal;
                        word-spacing: normal;
                        display: inline-block;
                        a {
                            color: #999;
                            border-right: 1px solid #999;
                            padding: 0 8px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .header_r{
            margin-top:20px;width: 300px;height: 39px;
            .mymall{
                width: 120px;height: 40px;border:1px solid #CECECE;display:inline-block;margin-right:20px;line-height:40px;position:relative;
                i:first-child{position:absolute;width: 20px;height: 20px;background:url("../img/sprit.png") no-repeat -20px 0;left:5px;top:12px;}
                span{margin-left:30px;}
                i:last-child{position:absolute;width: 5px;height: 8px;background:url("../img/sprit.png") no-repeat -94px 0;left:105px;top:16px;}
            } 
            .cartcheck{
                width: 135px;height: 40px;border:1px solid #CECECE;display:inline-block;
                line-height:40px;position:relative;
                i:first-child{position:absolute;width: 20px;height: 20px;background:url("../img/sprit.png") no-repeat -51px 0;left:5px;top:12px;}
                span{margin-left:30px;}
                i:last-child{position:absolute;width: 5px;height: 8px;background:url("../img/sprit.png") no-repeat -94px 0;left:120px;top:16px;}
            }   
        }
    }
}

/*******************nav*******************/
#nav{
    .nav_top{border-bottom:1px solid #F15C18;}
    .same_a{display:inline-block;width: 150px;height: 32px;text-align:center;line-height:32px;font-size:15px;}
    .category{width: 120px;height: 40px;line-height: 40px;background:#F15C18;color:white;padding:0 25px;}
    .shouye{color:#F15C18;font-weight:bold;}
    .zhibo{color:black;}
    .menu {
        padding:5px 0;
        background:#343A3A;
        width: 170px;
        position:absolute;
        >li{
            border-bottom:1px dashed #5E6658;padding:10px 5px;
            &:hover .menu2{display:block;}
            &:hover {background:white;border-bottom:none;}
            &:hover >a{background:white;color:#343A3A;}
            &:hover .menu{border-left:2px solid #343A3A;}
            >a{
                background:#343A3A;color:white;font-size:15px;margin-left:6px;
            }
        }
        /***************三级导航************/
        .menu2{
            display:none;
            .menu2_cont{
                position:absolute;left:170px;top:0;width:750px;background:white;height: 441px;
                dl{
                    padding-top: 10px;
                    dt{
                        display:inline-block;position:relative;width:88px;
                        a{
                            color:#343A3A;padding-left:20px;padding-right:15px;font-size:13px;font-weight:bold;  
                        }
                        i{
                            width: 10px;height: 10px;background:url('../img/sprit.png') no-repeat -94px 0;
                            position:absolute;left:78px;top:8px;
                        }
                    }
                    dd{
                        display:inline-block;border-bottom:2px solid  #E7E7E7;padding-bottom:5px;width: 600px;
                        a{
                            color:#7C7171;font-size:13px;border-left:2px solid #E7E7E7;padding:0 5px;
                        }
                    }
                }
            }
            .menu2_ad{
                width: 240px;position:absolute;left:892px;top:0;
                img{
                    border-left:1px solid #ccc;
                    border-bottom:1px solid #ccc;
                }
            }
        }
    }
}

/**********************banner***************/
#banner{
    .container{
       .slide{
        position:relative;width:785px;height:400px;overflow:hidden;margin-left:170px;z-index:-1;
        ul{
            position:absolute;overflow:hidden;
            li{float:left;}
        }
       }
    }
}

/*************************main****************/
#main{
    background:#F2F2F2;
    .fenjie{padding-top:10px;}
    .food{
        height: 511px;margin-top:10px;
        .title_food{
            border-bottom:2px solid #FE5621;
            h2{
                position:relative;display: inline;padding-left: 40px;font-size: 20px;line-height: 30px;color: #333;
                >i{position:absolute;background:#FEAA90 url("../img/sprit.png") no-repeat -462px 0;width: 35px;height: 30px;left:0}
            }
            ul{
                border: solid 1px #ededed;
                li{
                    float:left;
                    a{
                    color: #333;display:block;padding:0 16px;height: 30px;line-height: 30px;font-size:12px;background:white;
                    }
                }
            }
        }
    }
}


/******************footer:ccti+link***********/
#footer_top{
    .ccti{width: 100%;height: 86px;border: 1px solid #e3e3e3;border-width: 1px 0px;background: #fff;
        .container{
            i{display:block;float:left;height: 50px;width: 150px ;margin:18px 60px;}
            .ccti_icon1{background:url("../img/sprit.png") no-repeat 0 -84px;}
            .ccti_icon2{background:url("../img/sprit.png") no-repeat -170px -84px;}
            .ccti_icon3{background:url("../img/sprit.png") no-repeat -348px -84px;}
            .ccti_icon4{background:url("../img/sprit.png") no-repeat 0 -142px;}
        }
    }
    .link_l{
        width: 300px;height: 134px;border-right: 1px solid #eaeaea;padding: 25px 0 25px 2%;
        h2{
            font:16px;color: #666;padding: 5px 5px 5px 20px;margin: 0px 0 5px;
        }
        ul{
            padding: 0px 6px 0px 15px;
            li{
                width: 250px;line-height: 24px;text-overflow: ellipsis;height: 24px;overflow: hidden;
            }
        }
    }
    .link_r{
    width: 823px;padding: 20px 0%;margin-left: 50px;
        li{
            font-size: 12px;vertical-align: top;letter-spacing: normal;word-spacing: normal;width: 20%;float: left;
            dl{
                display: block;width: 90%;margin: 0 auto;}
            dt{
                font-size:16px ;color: #666;padding: 5px 0;margin: 5px 0;
            }
            dd{margin-top:10px;}
            
        }
    }
}

/*****************footer********************/
#footer{
        height: 220px;background:#343A3A;color:white;font-size: 12px;
        text-align: center;padding-top:30px;padding-bottom:10px;
        p{word-spacing: 5px;padding: 15px 0 0;}
        p:nth-child(2)>i{position:absolute;background:url('../img/sprit.png') no-repeat -320px 0;width: 20px;height: 20px;left:205px;}
        a{color:white;}
        .footer_img{
            padding: 20px 0 10px;width: 600px;margin: 0 auto;
            li{
                display: block;float: left;margin-right: 20px;width: 108px;height: 40px;
                .img1>i{position:absolute;background:url('../img/sprit.png') no-repeat 0 -32px;width:108px;height: 40px;}
                .img2>i{position:absolute;background:url('../img/sprit.png') no-repeat -133px -32px;width:108px;height: 40px;}
                .img3>i{position:absolute;background:url('../img/sprit.png') no-repeat -262px -32px;width:108px;height: 40px;}
                .img4>i{position:absolute;background:url('../img/sprit.png') no-repeat -385px -32px;width:108px;height: 40px;}
            }
            
        }
}